@model string;

<div style="position: fixed; left: 25px; top: 125px;" class="text-white">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New Movie</a>
</div>
